<!DOCTYPE html>
<html>
    <head>
        <title>Talks</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="site.js"></script>
    </head>
    <body>
        <h1>Talks</h1>
        <h3> Upcoming Events For The Clarkson Open Source Institute Meetings</h3>
        <h3> Wednesdays at 7pm </h3>
        <table id="table">
            <thead>
                <tr>
                    <th style="display: none;"></th>
                    <th>Talk Presenter</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="tb">
                {{ range . }}
                <tr class="event">
                    <td style="display: none;"> {{.Id}} </td>
                    <td class="name"> {{.Name}} </td>
                    <td class="type"> {{.Type}} </td>
                    <td class="description"> {{.Description}} </td>
                    <td class="actions">
                        <button onclick='hide( {{ .Id }} )' > x </button>
                    </td>
                </tr>
                {{ end }}
                <tr>
                    <th>
                        <input id="name" type="text" placeholder="Name" value="" autocomplete="off">
                    </th>
                    <th>
                        <select id="type">
                            <option value=0>Forum Topic</option>
                            <option value=1>Lightning Talk</option>
                            <option value=2>Project Update</option>
                            <option value=3>Announcement</option>
                            <option value=4>After-Meeting Slot</option>
                        </select>
                    </th>
                    <th>
                        <input id="description" type="text" placeholder="Description" value="" autocomplete="off">
                    </th>
                    <th>
                        <button id="create" onclick="create()"> create </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </body>
</html>