<!DOCTYPE html>
<html>

<head>
    <title>Talks - {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <div class="header">
        <h1 class="talks"><a class="talks" href="/"> Talks </a> </h1>
    </div>
    <div class="post markdown">{{.Content | unsafe_markdown}}</div>
    {{ template "footer.gohtml" . }}
</body>
